.boxUsername {
  display: flex;
  align-items: center;
  gap: 7px;
  margin-bottom: -20px;
}

.boxPhone {
  display: flex;
  align-items: center;
  gap: 7px;
}

.divPerson {
  border: 1px solid black;
  border-radius: 3px;
  width: 223px;
  height: 59px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
