.capitalForm1 {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.capitalForm2 {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

label {
  width: 250px;
}

.tagForm {
  border: 1px solid black;
  border-radius: 3px;
  width: 253px;
  padding: 13px;
  margin-bottom: 20px;
}

.btnAdd {
  margin-left: 87px;
}
